.main {
    color: var(--light-green);
    display: flex;
    gap: var(--space-md);
    padding: var(--space-sm);

    .hamburger {
        font-size: var(--heading-3);
        cursor: pointer;
    }

    .new__navbar {
        background-color: var(--slight-green);
        position: absolute;
        top: 60px;
        left: 65;
        width: 70%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
        border-radius: .5em;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: var(--space-sm);
        font-size: var(--heading-5);
        gap: var(--space-2xs);
    
        .nav__link {
            display: block;
            color: var(--light-green);
            text-decoration: none;
        }
        .click__logout {
            border-top: 1px solid var(--light-green);
            padding-top: var(--space-2xs);
            cursor: pointer;
        }
    }

    aside {
        position: fixed;
        left: 0;
        height: 97vh;
        background-color: var(--slight-green);
        width: 300px;
        border-radius: .75em;
        padding: var(--space-xs) var(--space-md);
        margin-left: var(--space-xs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

        .main__container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: var(--space-xl);
            
            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: var(--heading-5);
                }
            }
            .nav {
                display: flex;
                flex-direction: column;
                gap: var(--space-3xs);
                .nav__link {
                    font-size: var(--heading-6);
                    background-color: var(--dark-green);
                    border-radius: .5em;
                    padding: var(--space-xs);
                    color: var(--mid-white);
                }
            }

        }

        .profile__flex {
            display: flex;
            justify-content: space-between;
            background-color: var(--dark-green);
            padding: var(--space-xs);
            border-radius: .5em;
            .profile {
                display: flex;
                .name {
                    font-size: var(--heading-6);
                    font-weight: 500;
                    width: 150px;
                    max-width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .click__logout {
                cursor: pointer;
                font-size: var(--heading-6);
            }
        }
    }

    .container {
        .dashboard {
            background-color: var(--slight-green);
            border-radius: .5em;
            padding: var(--space-xs) var(--space-lg);
            margin-bottom: var(--space-md);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
            h1 {
                font-size: var(--heading-4);
            }
        }

        .table__container {
            background-color: var(--light-green);
            border-radius: .5em;
            padding: var(--space-md);
            .table {
                background-color: var(--light-green);
                color: var(--dark-green);
                width: 100%;
                border-collapse: collapse;
                
                thead {
                    tr {
                        font-size: var(--heading-5);
                        text-transform: uppercase;
                        line-height: -0.0275px;
                        th {
                            padding-bottom: var(--space-xs);
                        }
                    }
                }
                tbody {
                    text-align: center;
                    td {
                        border-top: 1px solid var(--dark-green);
                        padding: var(--space-xs);
                        a, p {
                            color: var(--dark-green);
                        }
                        .progress__button {
                            font-size: var(--text-base);
                            background-color: var(--dark-green);
                            color: var(--mid-white);
                            border: none;
                            border-radius: 0.5em;
                            padding: var(--space-2xs) var(--space-md);
                            cursor: pointer;
                        }
                    }
                    
                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                        color: var(--dark-green);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;

        .hamburger {
            display: block;
        }

        aside {
            display: none;
        }

        .container {
            width: 100%;
            margin-left: 0;
            .table__container {
                padding: var(--space-sm);
                .table {
                    font-size: var(--text-base--small);
                    thead {
                        th {
                            tr {
                                font-size: var(--text-base);
                            }
                        }
                        .hide {
                            display: none;
                        }
                    }
                    tbody {
                        // text-align: start;
                        td {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 60px;
                            padding: var(--space-3xs);
                            &:nth-of-type(3) {
                                text-align: center;
                            }
                            .progress__button {
                                padding: var(--space-2xs) var(--space-xs);
                            }
                        }
                        .hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        .hamburger {
            display: none;
        }

        aside {
            display: flex;
        }

        .container {
            width: calc(100% - 320px);
            margin-left: 320px;
            .table__container {
                padding: var(--space-sm);
                .table {
                    tbody {
                        td {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 50px;
                            padding: var(--space-2xs);
                            .progress__button {
                                padding: var(--space-2xs) var(--space-xs);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        .container {
            .table__container {
                padding: var(--space-md);
                .table {
                    tbody {
                        td {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .main {
        .container {
            .table__container {
                padding: var(--space-md);
                .table {
                    thead {
                        tr {
                            th {
                                // &:nth-of-type(1), &:nth-of-type(2) {
                                    text-align: start;
                                    padding-left: var(--space-xl);
                                // }
                            }
                        }
                    }
                    tbody {
                        td {
                            max-width: 200px;
                            // &:nth-of-type(1), &:nth-of-type(2) {
                                text-align: start;
                                padding-left: var(--space-xl);
                            // }
                            .progress__button {
                                padding: var(--space-2xs) var(--space-lg);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
